---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import CompanyEntries from "@/components/company/CompanyEntries.astro";

// Get all companies from the content collection
const companies = await getCollection("company");
---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tight lg:text-5xl text-3xl">
          Tustin Recruiting
        </h2>
        <p class="text-slate-500 mt-5">
          Fill out this page later
        </p>
      </div>

      
    </div>
  </section>
</BaseLayout> 