<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div class="max-w-2xl">
      <span class="text-sm uppercase font-medium tracking-wide text-blue-600">RSS Feeds</span>
      <h1 class="text-purple-900 font-semibold mt-6 text-4xl lg:text-5xl tracking-tight">
        Tustin Recruiting RSS Feeds
      </h1>
      <p class="text-slate-500 mt-5 text-lg">
        Stay updated with the latest job from Tustin Recruiting. We ask that you link back to our site when you post our jobs as this was built for distribution and helps us get more exposure. Thank you!
      </p>
    </div>
    <div class="mt-10 flex gap-4">
      <a
        class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
        title="Electrician Jobs Main RSS Feed"
        aria-label="Electrician Jobs Main RSS Feed"
        target="_blank"
        href="/rss.xml">
        Main RSS Feed
      </a>
      <a
        class="text-blue-600 items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-50 hover:bg-blue-100 w-auto"
        title="View All Jobs" 
        aria-label="View All Jobs"
        href="/open-positions">
        View All Jobs
      </a>
    </div>
  </div>
</section> 